@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply px-5 sm:px-10 md:px-20
  }
}

body {
  background: #0e0e0e;
  color: #ffffff;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intro-bg-img {
  background: 130% top url('/img/company.jpg') no-repeat;
  background-size: auto 100%;
}

.banner-bg-img {
  background: url('/img/banner.jpg') no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .intro-bg-img {
      background: none;
  }
}
